.containerBox{
    width : 300px;
}

.containerTitle{
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
    padding : 15px 10px;
    text-align: center;
    background-color: #39b54a;
    color: #f8d424;
}

.containerBox__description{
    background-color: #f8d424;
    padding : 20px;
    text-align: left;
    color: #39b54a;
    line-height: 145%;
}

.containerBox__viewButton{
    background-color: #39b54a;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.viewButton{
    text-decoration: none;
    border: 1px solid #f8d424;
    background-color: #f8d424;
    color: #39b54a;
    padding: 12px 8px;
    border-radius: 5px;
}

.viewButton:hover{
    background-color: #39b54a;
    color : #f8d424;
}
