.section-contact div{
    display: flex;
    justify-content: center;

}

.contact-form{
    width : 800px;
    border: 1px solid red;
}

.form__emailContainer , .form__nameContainer , .form__semesterContainer , .form__batchContainer , .form__shiftContainer , .form__messageContainer{
    display: flex;
    justify-content: space-between;
}
