header{
    height : 100vh;
    background : linear-gradient(rgba(255, 216, 155, 0.7) , rgba(25, 84, 123, 0.6)) , url('../../assests/images/header-background/background1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}


.heading-box{
    position: absolute;
    top: 60%;
    left: 10%;
}

.header__heading{
    color : #fff;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 300;
    width: 900px;
    margin-bottom: 20px;
}

.heading-box__buttonContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width : 320px;
}

.header__learnMore , .header-link-about{
    padding : 15px 25px;
    border-radius: 12px;
    width : 150px;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
    opacity : 0.6;
}

.header__learnMore{
    background-color: #f8d424;
    color : #39b54a;
    border : 1px solid #f8d424;
}

.header__learnMore:hover{
    background-color: #39b54a;
    color : #f8d424;
    opacity: 1.0;
    border-color: #39b54a;
}

.header-link-about{
    background-color: #39b54a;
    color : #f8d424;
    text-decoration: none;
    border : 1px solid #39b54a;
}

.header-link-about:hover{
    background-color: #f8d424;
    color : #39b54a;
    opacity: 1.0;
    border : 1px solid #f8d424;
}