.navbarContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbarContainerSticky{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    min-width: 100%;
    z-index: 10000;
    height : 100px;
    background-color: #39b54a;
}

.navbar__logo{
    height: 150px;
    width : 150px;
}

.navbarContainer__items{
    display: flex;
}

.navbarLinkAbout , .navbarLinkGroups , .navbarLinkAlumni ,  .navbarLinkEvents ,  .navbarLinkProjects ,  .navbarLinkContact{
    text-decoration: none;
    font-size: 35px;
    text-transform: uppercase;
    margin-right: 30px;
    font-weight: 300;
    border : 1px solid transparent;
    padding-bottom: 7px;
    color: #39b54a;
    padding : 12px 8px;
    border-radius: 7px;
}

.navbarLinkAboutSticky , .navbarLinkGroupsSticky , .navbarLinkAlumniSticky ,  .navbarLinkEventsSticky ,  .navbarLinkProjectsSticky ,  .navbarLinkContactSticky{
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    margin-right: 30px;
    font-weight: 300;
    border-bottom : 2px solid transparent;
    padding-bottom: 7px;
    color: #f8d424;
    padding : 12px 8px;
}

.navbarLinkAbout:hover , .navbarLinkGroups:hover , .navbarLinkAlumni:hover ,  .navbarLinkEvents:hover ,  .navbarLinkProjects:hover ,  .navbarLinkContact:hover{
    background-color: #39b54a;
    color : #f8d424;
}

.navbarLinkAboutSticky:hover , .navbarLinkGroupsSticky:hover , .navbarLinkAlumniSticky:hover ,  .navbarLinkEventsSticky:hover ,  .navbarLinkProjectsSticky:hover ,  .navbarLinkContactSticky:hover{
    border-bottom : 2px solid #f8d424;
}
