.navbarContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar__logo{
    height: 150px;
    width : 150px;
}

.navbarContainer__items{
    display: flex;
}

.navbar-link-about , .navbar-link-groups , .navbar-link-alumni ,  .navbar-link-events ,  .navbar-link-projects ,  .navbar-link-contact{
    text-decoration: none;
    font-size: 35px;
    text-transform: uppercase;
    margin-right: 30px;
    font-weight: 300;
    border : 2px solid transparent;
    padding-bottom: 7px;
}

.navbar-link-about:hover , .navbar-link-groups:hover , .navbar-link-alumni:hover ,  .navbar-link-events:hover ,  .navbar-link-projects:hover ,  .navbar-link-contact:hover{
    border-bottom: 2px solid #05386b;
}
