.section-gallery{
    margin-top : 200px;
}

.nosk-gallery {
    width: 100%;
    list-style: none;
    margin: 0;
}

.nosk-gallery li {
    display: block;
    float : left;
    width: 25%;
    height: auto;
}

.image-container {
    width: 100%;
    overflow: hidden;
    background-color: #000;
}

.image-container img {
    width: 100%;
    height: 280px;
    transform: scale(1.25);
    opacity: 0.5;
    transition: transform 0.5s , opacity 0.5s;
}

.image-container img:hover {
    opacity: 1;
    transform: scale(1.15);
}