.section-groups{
    padding : 20px 0 20px 0;
    margin-top: 50px;
    position: relative;
    width : 100vw;
}

.groups-collection{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.moreGroupButtonContainer{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .moreGroupButton{
    text-decoration: none;
    background-color: #39b54a;
    border: 1px solid #39b54a;
    color: #f8d424;
    padding: 20px 12px;
    border-radius: 8px;

} */

.moreGroupButton:hover{
    color : #39b54a;
    background-color: #f8d424;
}

.groupsWave{
    position: absolute;
    top : 50%;
    z-index: -1;
    max-width : 100%;
    overflow: hidden;
    
}

.groupBeforeIcon , .groupAfterIcon{
    position: absolute;
    background-color: #39b54a;
    color : #f8d424;
    border-radius: 50%;
    padding : 7px;
    top : 45%;
    cursor : pointer;
    transform: scale(1.85);
    filter: brightness(0.8);
}

.groupBeforeIcon:hover , .groupAfterIcon:hover{
    filter: brightness(1.0);
}

.groupBeforeIcon{
    left : 2%;
}

.groupAfterIcon{
    right : 2%;
}